.avatar {
  max-height: 48px;
  border-radius: 50%;
}

.avatar-tiny {
  max-height: 24px;
}

.avatar-small {
  max-height: 32px;
}


li.user-container {

  > a {
    padding: 8px;
  }

  .avatar {
    display: inline-block;
    margin-right: 8px;
    max-height: 32px !important;
  }
}
